@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Logo.css */
/* Logo.css */
.spin-on-hover {
  transition: all 0.3s ease-in-out;
}

.spin-animate {
  animation: spinInfinite 2s linear infinite;
}

@keyframes spinInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
