@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    background: transparent;
  }

  input[type="number"] {
    appearance: textfield; /* Untuk Firefox */
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Logo.css */
/* Logo.css */
.spin-on-hover {
  transition: all 0.3s ease-in-out;
}

.spin-animate {
  animation: spinInfinite 2s linear infinite;
}

@keyframes spinInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Untuk browser berbasis Webkit (Chrome, Edge, Safari) */
.scrollbar-green::-webkit-scrollbar {
  width: 1.5rem;
  background: #e5fbe5; /* warna background scrollbar track */
}
.scrollbar-green::-webkit-scrollbar-thumb {
  background: #22c55e; /* warna hijau (Tailwind green-500) */
  border-radius: 8px;
}
.scrollbar-green::-webkit-scrollbar-thumb:hover {
  background: #16a34a; /* warna hijau lebih gelap saat hover (Tailwind green-600) */
}

/* Untuk Firefox */
.scrollbar-green {
  scrollbar-width: 1rem;
  scrollbar-color: #fcb700 #e5fbe5;
}
